In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
bp = pd.read_csv('bp.csv')
bp_2016 = bp[bp['Expected Construct Year'] == 2016].reset_index(drop = True)

In [3]:
bp_2016.head()

,Application/Permit Number,Permit Type,Status,Category,Expiration Date,Location,Zipcode,Expected Construct Year,Expected Construct Month
0,6462770,Construction,Permit Finaled,COMMERCIAL,12/23/2016,"500 17TH AVE\r\n(47.6070606, -122.30967102)",98122,2016,12
1,6459047,Construction,Permit Finaled,COMMERCIAL,11/13/2016,"800 5TH AVE\r\n(47.60573523, -122.33029353)",98144,2016,11
2,6462950,Construction,Permit Finaled,SINGLE FAMILY / DUPLEX,09/09/2016,"3719 E HIGHLAND DR\r\n(47.6295295, -122.28462144)",98112,2016,9
3,6437949,Construction,Permit Finaled,SINGLE FAMILY / DUPLEX,10/20/2016,"1607 NW BLUE RIDGE DR\r\n(47.70279133, -122.37...",98177,2016,10
4,6402821,Construction,Permit Finaled,MULTIFAMILY,12/19/2016,"2112 13TH AVE S\r\n(47.58411321, -122.31569805)",98144,2016,12

In [9]:
#get zipcode list and corresponding counts
zipcode_list = []
for i in range(len(bp_2016)):
    zipcode = bp_2016['Zipcode'][i]
    if zipcode not in zipcode_list:
        zipcode_list.append(zipcode)
zipcode_counts = pd.DataFrame()
zipcode_counts['Zipcode'] = zipcode_list
counts_list = []
for i in zipcode_list:
    counts = len(bp_2016[bp_2016['Zipcode'] == i])
    counts_list.append(counts)
zipcode_counts['TOTAL'] = counts_list

In [10]:
category = ['MULTIFAMILY','SINGLE FAMILY / DUPLEX','COMMERCIAL','INSTITUTIONAL','INDUSTRIAL']

for i in category:
    bp_cat = bp_2016[bp_2016['Category'] == i]
    cat_counts_list = []
    for j in zipcode_list:
        cat_counts = len(bp_cat[bp_cat['Zipcode'] == j])
        cat_counts_list.append(cat_counts)
    zipcode_counts['%s' % i] = cat_counts_list

In [11]:
zipcode_counts.sort_values(['TOTAL'], ascending = False, inplace = True)
zipcode_counts.reset_index(drop = True, inplace = True)

In [12]:
zipcode_counts

,Zipcode,TOTAL,MULTIFAMILY,SINGLE FAMILY / DUPLEX,COMMERCIAL,INSTITUTIONAL,INDUSTRIAL
0,98199,48,0,41,4,1,2
1,98144,43,8,25,9,1,0
2,98115,41,3,28,5,5,0
3,98101,40,0,0,39,1,0
4,98103,38,6,19,13,0,0
5,98119,35,6,15,11,1,2
6,98122,35,5,19,9,2,0
7,98109,35,6,15,14,0,0
8,98112,34,4,28,2,0,0
9,98107,33,5,17,10,1,0
10,98117,33,2,29,2,0,0
11,98116,32,5,20,6,0,1
12,98105,32,3,17,9,3,0
13,98118,28,6,15,6,1,0
14,98125,27,4,17,3,3,0
15,98104,26,2,0,23,1,0
16,98108,25,1,11,9,1,3
17,98102,23,8,11,4,0,0
18,98134,20,0,0,13,0,7
19,98121,16,3,2,11,0,0
20,98106,16,1,7,5,1,2
21,98136,15,0,13,2,0,0
22,98126,14,1,9,4,0,0
23,98133,11,4,2,4,0,1
24,98177,11,0,10,1,0,0
25,98154,2,0,0,2,0,0
26,98195,2,0,0,0,2,0
27,98178,1,0,1,0,0,0
28,98146,1,0,1,0,0,0

In [13]:
zipcode_counts['Zipcode'] = zipcode_counts['Zipcode'].astype(int)

In [14]:
zipcode_counts.to_csv('Zipcode_counts_2016.csv',index=False)